<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="autor" content="Andre F. Alvino">
    <title>Primeira pagina</title>
    <link rel="stylesheet" href="testeStile.css">
</head>
<body>
    <h1 class = "titulo"> minha pagina de teste</h1>
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente perspiciatis, porro obcaecati inventore voluptatum voluptates a possimus ab asperiores expedita ex laborum ipsum excepturi ea 
        assumenda quas officiis similique odit? Cupiditate, amet ipsam fugiat provident officia ex praesentium minus cumque?</p>
</body>
</html>