<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="autor" content="Andre Alvino">
    <link rel="stylesheet" href="tudo.css">
    <title>Cadastre-se</title>
</head>

<body>
    <!-- logo -->
     <img src="C:\Users\andre\Downloads\Se ta aqui é lixo\Personagem.png" alt="PineapleGPT" class="centralizada">
    <h1> Olá! Como posso ajudar!</h1>

    <input type="text" class="chat-input" placeholder="Escreva sua mensagem..." >
    <button class="digite">Enviar</button>

</body>
</html>